TargetCreation/Template/Template.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Template"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Description" type="xs:string" />
        <xs:element name="TargetFolderHint" type="xs:string" />
        <xs:element name="MacroDefinitions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MacroDefinition" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Type">
                      <xs:annotation>
                        <xs:documentation>The type of the macro.&lt;br/&gt;Apart from UserString, all other macros will be generated by the system.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="SysDate">
                            <xs:annotation>
                              <xs:documentation>The current date in the format yyyy-MM-dd.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="SysGuid">
                            <xs:annotation>
                              <xs:documentation>A new guid in the format {00000000-0000-0000-0000-000000000000}.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="SysCodeGuid">
                            <xs:annotation>
                              <xs:documentation>A new guid in the format 00000000, 0000, 0000, 0000, 000000000000.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                          <xs:enumeration value="UserString">
                            <xs:annotation>
                              <xs:documentation>A string which has to be provided by the user.</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Description" type="xs:string" />
                    <xs:element name="Value" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>An optional default value.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
